<footer class="page-footer blue darken-3">
  <div class="container>">

  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <%= link_to "HeroFin", root_path, class: "white-text" %>
    </div>
  </div>
</footer>
